.c- {
    &shopTable {
        width: 100%;

        a {
            color: $blue-500;
            text-decoration: none;
        }

        thead {
            tr {
                background-color: $white;

                th {
                    vertical-align: middle;
                    white-space: nowrap;
                    text-align: center;
                    color: $blue-500;

                    >* {
                        padding: 0.75rem;
                        display: inline-block;
                    }
                }
            }
        }

        tbody {
            tr {
                background-color: $white;
                overflow: hidden;

                th,
                td {
                    position: relative;

                    >* {
                        padding: 0.75rem;
                        display: inline-block;
                        margin-bottom: 0;
                    }

                    span {
                        position: relative;
                        display: inline-block;

                        &::before {
                            content: "";
                            font-family: "Font Awesome 5 Pro";
                            font-weight: 300;
                            -moz-osx-font-smoothing: grayscale;
                            -webkit-font-smoothing: antialiased;
                            display: inline-block;
                            font-style: normal;
                            font-variant: normal;
                            text-rendering: auto;
                            line-height: 1;
                            position: absolute;
                            left: 0;
                            top: 0.4rem;

                            @include min-xl {
                                transform: translateY(-50%);
                                top: 50%;
                            }
                        }

                        i {
                            transition: transform .3s;
                            position: absolute;
                            right: 0px;

                            &.js-submenuOpened {
                                transform: rotate(180deg);
                            }
                        }
                    }

                    a {
                        &:hover {
                            color: $blue-highlight;
                        }
                    }
                }
            }

            td[data-th="門市名稱"] {
                span {
                    width: 100%;

                    @include min-xl {
                        max-width: 150px;
                    }
                }
            }

            td[data-th="門市電話"] {
                @include min-xl {
                    min-width: 120px;
                    max-width: 130px;
                }

                a {
                    width: 100%;

                    &:first-child {
                        padding-bottom: 0;
                    }

                    &+a {
                        padding-top: 0;
                    }

                    @include min-xl {
                        width: auto;
                        // padding: 0.25rem 0rem 0.25rem 1.5rem;
                        padding: 0;
                    }
                }

                span {
                    padding-left: 1.5rem;

                    &::before {
                        content: "\f095";
                        font-weight: 900;
                        transform: scaleX(-1);

                        @include min-xl {
                            transform: translateY(-50%) scaleX(-1);
                        }
                    }
                }
            }

            td[data-th="門市地址"] {
                @include min-xl {
                    max-width: 200px;
                }

                span {
                    padding-left: 1.5rem;

                    &::before {
                        content: "\f3c5";
                        font-weight: 900;
                    }
                }
            }

            td[data-th="Line"] {
                span {
                    padding-left: 1.5rem;

                    &::before {
                        content: "\f3c0";
                        font-family: "Font Awesome 5 Brands";
                        font-size: $font-24;
                        top: 0.1rem;

                        @include min-xl {
                            transform: translateY(-50%);
                            top: 50%;
                        }
                    }
                }

                a {
                    &:hover {
                        span {
                            &::before {
                                color: #3ACE01;
                            }
                        }
                    }
                }
            }

            td[data-th="驗光儀器"] {
                span {
                    &:first-child {
                        padding-right: 0.375rem;
                    }

                    &:nth-child(2) {
                        padding-left: 0.375rem;
                    }
                }

                @include min-xl {
                    width: 93px;
                }
            }

            td[data-th="星級驗光所"] {
                @include min-xl {
                    text-align: center;
                }
            }
        }

        &-img-star {
            width: 25px;
        }

        &-img-system {
            width: 25px;
        }

        &-rwd {
            width: 100%;

            a {
                color: $blue-500;
                text-decoration: none;
            }

            thead {
                /* 手機版隱藏表頭列 */
                display: none;

                @include min-xl {
                    display: table-header-group;
                }

                tr {
                    background-color: $white;

                    th {
                        vertical-align: middle;
                        white-space: nowrap;

                        >* {
                            padding: 0.75rem;
                            display: inline-block;
                            margin-bottom: 0;
                        }
                    }
                }
            }

            tbody {

                tr {
                    background-color: $white;
                    display: block;
                    /*手機版推出空間用*/
                    // margin-bottom: 1rem;

                    @include min-xl {
                        display: table-row;
                    }

                    th,
                    td {
                        display: table;
                        /*手機版讓他們改成橫式排列*/
                        width: 100%;

                        >* {
                            padding: 0.5rem 0.75rem;
                            display: inline-block;

                            @include min-xl {
                                padding: 0.75rem;
                            }
                        }

                        @include min-xl {
                            display: table-cell;
                            width: auto;
                        }

                        &[data-th] {

                            /* 把表頭寫成data-th之後，利用Before的方式插入在td內*/
                            &:before {
                                display: table-cell;
                                content: ""attr(data-th);
                                // width: 7rem;
                                // width: 5.5rem;
                                width: 6.5rem;
                                min-width: 6.5rem;
                                height: 100%;
                                vertical-align: top;
                                // padding: 0.75rem;
                                padding: 0.5rem 0.75rem;
                                word-break: break-all;
                                color: $blue-500;
                                font-weight: bold;

                                @include min-xl {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            &-verB {
                thead {
                    border-top: 0px !important;
                    border-bottom: 0px !important;

                    tr {
                        th {
                            @include min-xl {
                                border-bottom: 0px solid $gray-500 !important;
                            }
                        }
                    }
                }

                tbody {
                    tr {

                        th,
                        td {
                            &[data-th] {

                                /* 把表頭寫成data-th之後，利用Before的方式插入在td內*/
                                &:before {
                                    color: $black;

                                    @include min-xl {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    tr:first-child {
                        td {
                            border-top: 0px solid $gray-500 !important;
                        }
                    }
                }
            }
        }


        &--bordered {
            &__bottom {
                thead {
                    border-top: 2px solid $blue-500;
                    border-bottom: 2px solid $blue-500;
                }

                thead,
                tbody {
                    tr {

                        th,
                        td {
                            @include min-xl {
                                border-bottom: 1px solid $gray-500;
                            }
                        }

                        td {
                            &:first-child {
                                @include max-xl {
                                    border-top: 1px solid $gray-500;
                                    // border-bottom: 1px solid $blue-500;
                                }
                            }
                        }

                        &:last-child {
                            @include max-xl {
                                border-bottom: 1px solid $gray-500;
                            }
                        }
                    }
                }
            }
        }
    }
}