// 請勿修改
// .u-bdr-{方向}-{顏色}
@each $abbrev in (top, right, bottom, left) {
    @each $color,$value in $background-color-theme {
        .u-bdr-#{$abbrev}-#{$color} {
            border-#{$abbrev}-color: $value !important;
        }
    }
}