<div class="c-sideLink-list">
	<div class="c-sideLink-list-title w-100 py-3 u-bg-gray-500 u-text-white">
		社群連結
	</div>
	<a href="https://www.youtube.com/channel/UClFxST5e5re_Rc7_zpGJIdw" target="_blank" class="c-sideLink-list-link">
		<div class="c-sideLink-list-link-icon">
			<img src="assets/img/index/iconYoutube.svg" alt="">
		</div>
	</a>
	<a href="https://www.facebook.com/formosafans" target="_blank" class="c-sideLink-list-link">
		<div class="c-sideLink-list-link-icon">
			<img src="assets/img/index/iconFacebook.svg" alt="">
		</div>
	</a>
	<a href="https://www.instagram.com/formosa_optical/" target="_blank" class="c-sideLink-list-link">
		<div class="c-sideLink-list-link-icon">
			<img src="assets/img/index/iconInstagram.svg" alt="">
		</div>
	</a>
	<a href="https://www.eyesmart.com.tw/" target="_blank" class="c-sideLink-list-link">
		<div class="c-sideLink-list-link-icon">
			<img src="assets/img/index/iconEyemarket.svg" alt="">
		</div>
	</a>
</div>