//layout .l-{className}
.l- {
  &footer {
    position: relative;

    .c-sideLink-list {
      width: 30px;
      margin: 0;
      position: absolute;
      // padding: 0;
      bottom: calc(100% - 30px);
      right: 1rem;
      transform: translate(0, 0);
      transition: transform 0.3s ease-in-out;

      @include max-xl {
        width: 40px;
      }

      &.js-sticky {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
      }

      &.js-sideLinkOpened {
        transform: translate(-85px, 0);
      }

      #goTop {
        @include max-xl {

          img {
            height: 40px;
          }
        }
      }
    }

    &-logo {
      // width: 255px;
      // height: 35px;
      margin-bottom: 10px;

      &-txt {
        width: 160px;
      }

      &-deco {
        width: 95px;
      }
    }

    &-download {
      width: 125px;
      height: 160px;
    }

    &-social {
      width: 34px;
      height: 34px;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}