.p-{
    &brand{
        @include max-sm {
            *[class^="row"]{
                margin-left: -7.5px;
                margin-right: -7.5px;
            }
            *[class^="col-"] {
                padding-left: 7.5px;
                padding-right: 7.5px;
            }
        }
        &-card{
            cursor: pointer;
            color: $gray-800;
        }
    }
}