.p- {
    &iconBg {
        padding: 0;
        transition: all .3s;

        img {
            width: 160px;
            background-color: $blue-highlight;
            border-radius: 50%;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    &iconBg02 {
        display: inline-block;
        position: relative;
        padding: 1px;
        transition: all .3s;
        border-radius: 100%;

        &:hover {
            transform: scale(1.1);
        }
    }
}