.p- {
  &news {
    &-edm {
      text-align: center;

      &-content {
        position: relative;
        display: inline-block;
        width: 100%;
      }

      &-grid {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        // background-color: blue;
      }

      div[class^="col"] {
        padding: 0;
      }

      .col-5 {
        flex: 0 0 46%;
        max-width: 46%;
      }

      .col-1:nth-child(even) {
        a {
          // background-color: red;
        }
      }

      &-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // border: 1px solid red;
        // &:hover {
        //   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        // }
      }
    }
  }
}