.p- {
  &rionet {
    &-img {
      width: 255px;
    }

    &-btn {
      @include max-md {
        width: 46%;
      }

      @include max-sm {
        width: 100%;
      }
    }
  }
}

#rionetProductTypes {
  .v-slick {
    @include max-sm {
      overflow: visible;
    }

    .p-rionet-img {
      border-radius: 50%;
      box-shadow: 3px 3px 3px $gray-500;
    }
  }
}