// 針對 html 標籤做基本設定
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(rgb(0, 151, 252), 0.3);

  @include min-md {
    -webkit-tap-highlight-color: transparent;
  }
}

a {
  -webkit-tap-highlight-color: rgba(rgb(0, 151, 252), 0.3);

  @include min-md {
    -webkit-tap-highlight-color: transparent;
  }

  &:hover {
    text-decoration: none;
  }
}

hr {
  border-color: $gray-500;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

html,
body {
  height: 100%;
  font-family: '微軟正黑體', arial, 'Noto Sans TC', sans-serif;

  // letter-spacing: 1px;
  @include max-sm {
    font-size: 0.95rem;
  }
}

html[lang="en"] {
  -webkit-locale: "en";
  hyphens: auto;
}

#page {
  display: flex;
  /*使物件依序排列*/
  flex-direction: column;
  /*使物件垂直排列*/
  height: 100%;
}

main {
  flex: 1 0 auto;
  /*可佔滿垂直剩餘的空間*/
}

.rounded {
  border-radius: 0.25rem;
}

// .container{
//   @media (max-width:500px) {
//     padding-left: 2rem;
//     padding-right: 2rem;
//   }
// }
.wrapper {
  overflow: hidden;
  margin-top: 60px;

  @include min-xl {
    margin-top: 100px;
  }
}

.white-space-nowrap {
  white-space: nowrap;
}
.fixed-top {
  top: 60px;
  right: 0;
  left: 0;
  z-index: 1;

  @include min-xl {
    top: 100px;
  }
}